---
branches:
  only:
    - master
sudo: required
language: minimal
matrix:
  include:
  - env: ELASTIC_STACK_VERSION=5.x
  - env: ELASTIC_STACK_VERSION=6.x
  - env: ELASTIC_STACK_VERSION=7.6.0 # release pre introduction of core ECS-compatibility mode
  - env: ELASTIC_STACK_VERSION=7.x
  - env: ELASTIC_STACK_VERSION=7.x SNAPSHOT=true
  - env: ELASTIC_STACK_VERSION=8.x SNAPSHOT=true
  fast_finish: true
install: ci/unit/docker-setup.sh
script: ci/unit/docker-run.sh

